catboost=1.0.5=pypi_0
fasttext=0.9.2=pypi_0
gensim=4.1.2=pypi_0
natasha=1.4.0=pypi_0
navec=0.10.0=pypi_0
nltk=3.7=pypi_0
python=3.8.13=h12debd9_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-graphviz=0.20=pypi_0
razdel=0.5.0=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.8.0=pypi_0
slovnet=0.5.0=pypi_0
tqdm=4.64.0=pypi_0